.App {
    margin: 2em auto;
    width: 40vw;
    min-width: 400px;
    padding: 2em;
    border: 0.1em solid black;
    border-radius: 0.5em;
    background: #fff;
    overflow: hidden;
}

.App > p, .App > h1 {
    text-align: center;
}


.light {
    background-color: lightblue;
}

.dark {
    background-color: darkgreen;
}

.light li {
    color: blue;
    background-color: rgb(55, 173, 241);
}

.dark li {
    color: darkgreen;
    background-color: rgb(39, 161, 39);
}